:root {
  /* color scheme from coolors.co */
  --gold-crayola: #ecba82ff;
  --mantis: #81c14bff;
  --may-green: #2e933cff;
  --dark-spring-green: #297045ff;
  --deep-jungle-green: #204e4aff;

  /* utility colors and shadows */
  --profileShadow: box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, var(var(--may-green)), var(var(--dark-spring-green)) 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: var(--gold-crayola);
  --video: var(--may-green);
  --location: var(--mantis);
  --schedule: var(--gold-crayola);
}